<link rel='ractive' href='./Image.html'>

<div class='gia-wrapper'>

	<div class='timeline'>

		{{#timeline: i}}

			<div class='date-row cf'>

				<div class='text-main {{ image_url === "" ? "wide" : "regular"}} '>
					<div class='date-main'>{{day}} {{month}} {{year}}</div>
					<div class='text-title'>{{text_header}}</div>
					<div class='text-detail'>{{{text_body}}}</div>
				</div>

				{{#if (image_url !== '' ) }}
					<!-- <div class='image-main'>
						<img src='{{ format(image_url) }}' />
						<div class='image-credit'>Photograph: {{{image_credit}}}</div>
					</div> -->

					<Image url='{{image_url}}' credit='{{image_credit}}' large='{{large}}'/>
				{{/if}}
			</div>

		{{/timeline}}
	</div>
	
</div>

<style>
.date-row{
	width:100%;
	height:auto;
	padding: 0 0 50px 0;
	position:relative;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.image-main{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;

	float:left;
	width:65%;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.image-main img{
	max-width:100%;
	height:auto;
}
.image-credit{
	font-size: 12px;
	font-family:'Guardian Text Sans Web', Helvetica, Arial, sans-serif;
	color: #767676;
	text-align: right;
}
.text-main{
	font-family: 'Guardian Text Sans Web', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 16px;
	float:left;
	width:35%;
	padding: 15px 30px 0 15px;
	border-top: 1px dotted #dcdcdc;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.date-main{
	font-family: 'Guardian Text Sans Web',Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: 16px;

	color: #767676;
}
.text-title{
	font-family: 'Guardian Egyptian Web', Georgia, serif;
	font-size: 24px;
	font-weight: 700;
	margin-top: 25px;
}
.text-detail {
	font-family: 'Guardian Text Sans Web',Helvetica,Arial,sans-serif;
    padding-top: 5px;
    position: relative;
}
.wide {
	width:100%;
}
.wide .text-title,
.wide .text-detail {
    max-width: 775px;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}

@media screen and (max-width: 740px){
	.text-main{
		width:100%;
		padding: 5px 0
	}
	.text-detail{
		padding: 5px 0 10px 0;
	}
	.image-main{
		width:100%;
	}
	.date-row{
		padding: 10px 0;
	}
	.wide .text-title,
	.wide .text-main {
    max-width: 100%;
	}

}

</style>



<script>
	component.exports = {
		data: {
			format: function( image ){
				var match = /https?:\/\/media\.gutools\.co\.uk\/images\/(.+?)\?crop=(.+)/.exec( image );
				return `//media.guim.co.uk/${match[1]}/${match[2]}`;
			},
			image_size: function(){
				const width = this.get( 'width' );

				if (width <= 500) { return '/500.jpg' }
				else { return '/1000.jpg' }
			}

		},
		computed: {
			large () {
				return this.get( 'width' ) > 500;
			}
		},
		onrender () {
			this.container = this.find( '.gia-wrapper' );
			window.addEventListener( 'resize', () => this.resize() );
			this.resize();
		},

		resize () {
			this.set({
				width: this.container.offsetWidth,
				height: this.container.offsetHeight
			});
		}

	};
</script>